<!-- views/insert.html  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Task</title>
    <link rel="stylesheet" href="/s/styles.css">
</head>
<body>
    <div id="navbarContainer"></div>
    <div class="container">
        <h2 style="text-align: center; color: green;">Manage Tasks</h2>
        <div class="button-container">
            <button id="add-tasks-btn">Add</button>
            <button id="edit-tasks-btn">Edit</button>
            <button id="delete-tasks-btn">Delete</button>
        </div>

        <div id="addtasks" class="btn hidden">
            <h2 style="text-align: center;">Add a Task</h2>
            <form action="/s/add" method="post">
                <label for="task">Task: </label>
                <input type="text" id="task" placeholder="Task" name="task" required> <br>

                <label for="due_date">Due Date: </label>
                <input type="date" id="due_date" placeholder="Due Date" name="due_date" required> <br>

                <button type="submit"> ADD </button>
            </form>
        </div>

        <div id="edittasks" class="btn hidden">
            <h2 style="text-align: center;">Edit Tasks</h2>
            <form action="/s/edit" method="post">
                <label for="task"> Task name : </label>
                <input type="text" placeholder="Task" name="task" required> <br>

                <label for="due_date">Change due date:</label>
                <input type="date" placeholder="Due Date" name="due_date"> <br>

                <label for="status">Update status: </label>
                <select name="status" id="status">
                    <option value="">Change Status</option>
                    <option value="pending">Pending</option>
                    <option value="completed">Completed</option>
                </select> <br>

                <button type="submit"> Edit </button>
            </form>
        </div>

        <div id="deletetasks" class="btn hidden">
            <h2>Delete Tasks</h2>
            <form action="/s/delete" method="post">
                <label for="task">Task: </label>
                <input type="text" placeholder="Task" name="task" required> <br>
                <button type="submit"> Delete Task </button>
            </form>
        </div>
    </div>
    <script src="/s/script.js"></script>
    <script>
        navbar1();
        controlManageTasks();
    </script>
</body>
</html>